body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100vh;
    width: 100vw;

}
header{
    display: flex;
    background-color: #1a659e;
    color: #cbeef3;
    justify-content: space-between;
    
    height: 10%;
}
h1{
    margin-left: 10px;
    letter-spacing: 2px;
    font-style: italic;
}
nav{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
a{
    height: 60%;
    background-color: #f7c59f;
    display: flex;
    align-items: center;
    margin: 6px;
    width: 150px;
    justify-content: center;
    text-decoration: solid;
    color: #0a0908;
    border: 1px solid #cbeef3;
    border-radius: 5px;
}
main{
    height: 90%;
    display: flex;
}
form{
    display: flex;
    flex-direction: column;
    background-color: #f7c59f;
    width: 35%;
    align-items: center;
    justify-content: center;
}
article{
    background-color: #efefd0;
    display: flex;
    flex-direction: column;
}
.gora{
    display: flex;
}
.dol{
    display: flex;
}
.goralewo{
    width: 50%;
    padding: 10px;
    height: 50%;
    
}
.dolprawo{
    width: 50%;
    padding: 10px;
    height: 50%;
}
.dollewo{
    width: 50%;
    padding: 10px;
    height: 50%;
}
.goraprawo{
    width: 50%;
    padding: 10px;
    height: 50%;
}
.blok1, .blok2{
    display: flex;
    border: #0a0908 solid 3px;
    border-radius: 5px;
    padding: 10px;
}
.blok111{
    height: 5vh;
    border: solid 3px #0a0908;
    background-color: #f7c59f;
    width: 5vw;
    border-radius: 5px;
}
.blok112{
    height: 10vh;
    width: 5vw;
    border: solid 3px #0a0908;
    background-color: #f7c59f;
    border-radius: 5px;
}
.blok113{
    height: 14vh;
    width: 5vw;
}
.blorow1, .blorow3{
    width: 11vw;
    height: 9vh;
    border: solid 3px #0a0908;
    background-color: #f7c59f;
    border-radius: 5px;
}
.blorow21, .blorow22{
    width: 4.9vw;
    height: 9vh;
    border: solid 3px #0a0908;
    background-color: #f7c59f;
    border-radius: 5px;
}
.blorow2{
    display: flex;
}
.blorow1, .blorow3, .blorow21, .blorow22, .blok111, .blok112, .blok113{
    margin: 8px;
}
.blok1, .blok2{
    width: 24.5vw;
}
.goralewo, .goraprawo, .dollewo, .dolprawo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
p{
    margin: 30px;
    text-indent: 40px;
    font-size: 100%;
    font-weight: bold;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form > *{
    margin: 3px;
}
button{
    width: 80px;
    margin-top: 10px;
    height: 30px;
    background-color: #1a659e;
    color: #cbeef3;
    border-radius: 5px;
    transition: ease-in-out 0.2s;
    margin-bottom: 10px;
}
a:hover{
    font-size: large;
}
button:hover{
    height: 35px;
    width: 85px;
}
.butoo{
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}